.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #333;
  padding: 0 10%;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 80px;
  color: #fff;
  box-sizing: border-box;
  z-index: 100;
}
@media screen and (max-width: 1440px) {
  .header {
    padding: 0 50px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    padding: 0!important;
  }
}
.header.is-login-header {
  border-bottom: 1px solid #dee2e6;
  background: #fff;
  color: #333;
  padding: 0 50px;
}
.header.is-login-header .logo {
  padding-right: 0;
}
.header.is-login-header .logo .logo__img {
  filter: grayscale(100%);
}
.header.is-login-header .logo .logo__title {
  border-color: #000;
  color: #000;
}
.header.is-login-header .right-wrap .lang-selector .drop-trangle:hover .current .current-text {
  color: #999;
}
.header.is-login-header .right-wrap .lang-selector .drop-trangle:hover .current .drop-trangle::after {
  border-top-color: #999;
}
.header.is-login-header .right-wrap .lang-selector .drop-trangle.down::after {
  border-top-color: #333;
}
.header.is-login-header .right-wrap .lang-selector .popup {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin-top: 0;
  right: 0;
  top: 50px;
}
.header.is-login-header .right-wrap .lang-selector .popup li {
  list-style: none;
  line-height: 38px;
  padding: 0 30px;
}
.header.is-login-header .right-wrap .lang-selector .popup li:hover {
  background: #fff;
  color: #d6001c;
}
.header.is-login-header .right-wrap .lang-selector .popup li:last-child {
  margin-bottom: 0;
}
.header.is-login-header .right-wrap .lang-selector .popup li.selected {
  color: #d6001c;
}
.header.is-login-header .right-wrap .lang-selector .popup li.selected .is-checked::after {
  border-color: #d6001c;
}
.header.is-login-header .right-wrap .small-device .i18n-mobile {
  background: #fff;
  color: #333;
  border-color: #f1f1f1;
}
.header.is-login-header .right-wrap .small-device .i18n-mobile li {
  border-color: #f1f1f1;
}
.header.is-login-header .right-wrap .small-device .i18n-mobile li.selected {
  color: #d6001c;
}
.header.is-login-header .right-wrap .small-device .i18n-mobile li.selected .is-checked::after {
  border-color: #d6001c;
}
.header.is-login-header .right-wrap .small-device .menu-icon.language {
  background: url(/assets/images/ic_languages_black.png) no-repeat center;
  background-size: 100%;
}
.header .logo {
  display: flex;
  align-items: center;
  padding-right: 30px;
}
.header .logo .logo__img {
  height: 50px;
}
.header .logo .logo__title {
  padding-left: 10px;
  border-left: 2px solid #fff;
  color: #fff;
  font-weight: bold;
}
.header .nav-wrap {
  flex: 1;
  height: 100%;
}
.header .right-wrap {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1001;
}
.header .right-wrap .small-device {
  display: none;
}
.header .right-wrap .lang-selector {
  height: 100%;
  cursor: pointer;
  position: relative;
}
.header .right-wrap .lang-selector:hover .current .current-text {
  color: #999;
}
.header .right-wrap .lang-selector:hover .current .drop-trangle::after {
  border-top-color: #999;
}
.header .right-wrap .lang-selector .current {
  height: 100%;
  display: flex;
  align-items: center;
}
.header .right-wrap .lang-selector .current .current-text {
  display: inline-block;
  width: 100px;
  text-align: center;
}
.header .right-wrap .lang-selector .current .drop-trangle {
  display: inline-block;
  width: 10px;
  height: 5px;
  position: relative;
  transition: transform 0.3s linear;
}
.header .right-wrap .lang-selector .current .drop-trangle:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 5px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
.header .right-wrap .lang-selector .current .drop-trangle.up {
  transform: rotate(180deg);
}
.header .right-wrap .lang-selector .current .drop-trangle.down {
  transform: rotate(0);
}
.header .right-wrap .lang-selector .popup {
  position: absolute;
  width: 180px;
  margin-top: 6px;
  border-radius: 2px;
  z-index: 999;
  box-shadow: -10px 9px 21px 0 rgba(128, 152, 213, 0.08);
  background-color: #333;
  padding: 25px 0;
  opacity: 1;
}
.header .right-wrap .lang-selector .popup.popup-enter-active {
  transition: opacity 0.2s ease-in;
}
.header .right-wrap .lang-selector .popup.popup-enter {
  opacity: 0;
}
.header .right-wrap .lang-selector .popup.popup-leave-active {
  transition: opacity 0.2s ease-out;
  opacity: 0;
}
.header .right-wrap .lang-selector .popup li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  line-height: 38px;
  padding: 0 30px;
}
.header .right-wrap .lang-selector .popup li:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}
.header .right-wrap .lang-selector .popup li:last-child {
  margin-bottom: 0;
}
.header .right-wrap .lang-selector .popup li.selected {
  color: #d6001c;
}
.header .right-wrap .lang-selector .popup li.selected .is-checked::after {
  border-color: #d6001c;
}
.header .right-wrap .exit {
  display: inline-block;
  cursor: pointer;
  margin-left: 50px;
}
.header .right-wrap .exit:hover {
  color: #999;
}
