@primaryColor: #d6001c;

@header-background-color: #333;
@header-color: #fff;
@header-nav-hide-background-color: #fff;
@header-nav-hide-color: #333;
@header-nav-hide-trangle-color: #333;
@header-nav-hide-popup-shadow-color: rgba(0, 0, 0, 0.2);
@header-nav-hide-popup-background-color: #fff;
@header-nav-hide-popup-item-hover-background-color: #fff;
@header-nav-hide-popup-item-hover-color: @primaryColor;
@header-nav-hide-popup-item-selected-color: @primaryColor;
@header-nav-hide-popup-item-checked-color: @primaryColor;

@header-official-color: #333;
@header-official-hover-color: #999;

@header-nav-item-color: #fff;
@header-nav-item-hover-color: #999;
@header-nav-item-selected-background-color: @primaryColor;
@header-nav-item-border-color: #666;

@header-popup-background-color: #333;
@header-popup-item-disabled-color: #999;
@header-popup-item-disabled-background-color: #333;
@header-popup-item-disabled-hover-color: #999;
@header-popup-shadow-color: rgba(128, 152, 213, 0.08);
@header-popup-item-color: #fff;
@header-popup-item-hover-color: #fff;
@header-popup-item-active-color: #333;
@header-popup-item-hover-background-color: rgba(255, 255, 255, 0.2);
@header-popup-item-selected-color: @primaryColor;
@header-popup-item-checked-color: @primaryColor;
@header-popup-border-color: #666;

@header-nav-hide-i18n-mobile-background-color: #fff;
@header-nav-hide-i18n-mobile-color: #333;
@header-nav-hide-i18n-mobile-border-color: #f1f1f1;
@header-nav-hide-i18n-mobile-item-border-color: #f1f1f1;

@header-mobile-nav-item-hover-color: #fff;
@header-mobile-nav-item-color: #fff;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: @header-background-color;
  padding: 0 10%;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 80px;
  color: @header-color;
  box-sizing: border-box;
  z-index: 100;
  @media screen and (max-width: 1440px) {
    padding: 0 50px;
  }
  @media screen and (max-width: 768px) {
    padding: 0!important;
  }
  &.is-login-header {
    border-bottom: 1px solid #dee2e6;
    background: @header-nav-hide-background-color;
    color: @header-nav-hide-color;
    padding: 0 50px;
    .logo {
      padding-right: 0;
      .logo__img {
        filter: grayscale(100%);
      }
      .logo__title {
        border-color:#000;
        color: #000;
      }
    }
    .right-wrap {
      .lang-selector {
        .drop-trangle {
          &:hover {
            .current {
              .current-text {
                color: @header-nav-item-hover-color;
              }
              .drop-trangle {
                &::after {
                  border-top-color: @header-nav-item-hover-color;
                }
              }
            }
          }
          &.down {
            &::after {
              border-top-color: @header-nav-hide-trangle-color;
            }
          }
        }
        .popup {
          box-shadow: 0 2px 8px 0 @header-nav-hide-popup-shadow-color;
          background-color: @header-nav-hide-popup-background-color;
          margin-top: 0;
          right: 0;
          top: 50px;
          li {
            list-style: none;
            line-height: 38px;
            padding: 0 30px;
            &:hover {
              background: @header-nav-hide-popup-item-hover-background-color;
              color: @header-nav-hide-popup-item-hover-color;
            }
            &:last-child {
              margin-bottom: 0;
            }
            &.selected {
              color: @header-nav-hide-popup-item-selected-color;
              .is-checked {
                &::after {
                  border-color: @header-nav-hide-popup-item-checked-color;
                }
              }
            }
          }
        }
      }
      .small-device {
        .i18n-mobile {
          background: @header-nav-hide-i18n-mobile-background-color;
          color: @header-nav-hide-i18n-mobile-color;
          border-color: @header-nav-hide-i18n-mobile-border-color;
          li {
            border-color: @header-nav-hide-i18n-mobile-item-border-color;
            &.selected {
              color: @header-nav-hide-popup-item-selected-color;
              .is-checked {
                &::after {
                  border-color: @header-nav-hide-popup-item-checked-color;
                }
              }
            }
          }
        }
        .menu-icon {
          &.language {
            background: url(/assets/images/ic_languages_black.png)
              no-repeat center;
            background-size: 100%;
          }
        }
      }
    }
  }
  .logo {
    display: flex;
    align-items: center;
    padding-right: 30px;
    .logo__img {
      height: 50px;
    }
    .logo__title {
      padding-left: 10px;
      border-left: 2px solid @header-popup-item-color;
      color: @header-popup-item-color;
      font-weight: bold;
    }
  }
  .nav-wrap {
    flex: 1;
    height: 100%;
  }
  .right-wrap {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1001;
    .small-device {
      display: none;
    }
    .lang-selector {
      height: 100%;
      cursor: pointer;
      position: relative;
      &:hover {
        .current {
          .current-text {
            color: @header-nav-item-hover-color;
          }
          .drop-trangle {
            &::after {
              border-top-color: @header-nav-item-hover-color;
            }
          }
        }
      }
      .current {
        height: 100%;
        display: flex;
        align-items: center;
        .current-text {
          display: inline-block;
          width: 100px;
          text-align: center;
        }
        .drop-trangle {
          display: inline-block;
          width: 10px;
          height: 5px;
          position: relative;
          &:after {
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-top: 5px solid @header-nav-item-color;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
          }
          transition: transform 0.3s linear;
          &.up {
            transform: rotate(180deg);
          }
          &.down {
            transform: rotate(0);
          }
        }
      }

      .popup {
        position: absolute;
        width: 180px;
        margin-top: 6px;
        border-radius: 2px;
        z-index: 999;
        box-shadow: -10px 9px 21px 0 @header-popup-shadow-color;
        background-color: @header-popup-background-color;
        padding: 25px 0;
        opacity: 1;
        &.popup-enter-active {
          transition: opacity 0.2s ease-in;
        }
        &.popup-enter {
          opacity: 0;
        }
        &.popup-leave-active {
          transition: opacity 0.2s ease-out;
          opacity: 0;
        }
        li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          list-style: none;
          line-height: 38px;
          padding: 0 30px;
          &:hover {
            background: @header-popup-item-hover-background-color;
            color: @header-popup-item-hover-color;
          }
          &:last-child {
            margin-bottom: 0;
          }
          &.selected {
            color: @header-popup-item-selected-color;
            .is-checked {
              &::after {
                border-color: @header-popup-item-checked-color;
              }
            }
          }
        }
      }
    }
    .exit {
      display: inline-block;
      cursor: pointer;
      margin-left: 50px;
      &:hover {
        color: @header-nav-item-hover-color;
      }
    }
  }
}
// @media screen and (min-width: 768px) and (max-width: 1000px) {
//   .header {
//     &:not(.is-login-header) {
//       .logo {
//         .logo__img {
//           height: 40px;
//         }
//         .logo__title {
//           display: none;
//         }
//       }
//     }
//   }
// }
// @media screen and (max-width: 768px) {
//   .header {
//     .logo {
//       position: absolute;
//       left: 0;
//       top: 50%;
//       transform: translateY(-50%);
//       .logo__img {
//         height: 40px;
//       }
//       .logo__title {
//         display: inline;
//       }
//     }
//     .nav-wrap {
//       position: fixed;
//       top: 65px;
//       left: 0;
//       z-index: 1000;
//       width: 100%;
//       height: 100%;
//       background: @header-background-color;
//     }
//     .right-wrap {
//       .lang-selector {
//         display: none;
//       }
//       .exit {
//         display: none;
//       }
//       .small-device {
//         display: block;
//         position: absolute;
//         right: 20px;
//         top: 20px;
//         .i18n-mobile {
//           padding: 0;
//           margin: 0;
//           position: fixed;
//           top: 65px;
//           left: 0;
//           width: 100%;
//           height: 100%;
//           background: @header-popup-background-color;
//           color: @header-popup-item-color;
//           padding: 0 30px;
//           z-index: 1000;
//           border-top: 1px solid @header-popup-border-color;
//           li {
//             display: flex;
//             justify-content: space-between;
//             align-items: center;
//             padding: 16px 0;
//             list-style: none;
//             border-top: 1px solid @header-nav-item-border-color;
//             &.selected {
//               color: @header-nav-item-selected-background-color;
//               .is-checked {
//                 &::after {
//                   border-color: @header-popup-item-checked-color;
//                 }
//               }
//             }
//             &:first-child {
//               border: 0;
//             }
//           }
//         }
//         .menu-icon {
//           display: inline-block;
//           width: 20px;
//           height: 20px;
//           &.language {
//             background: url(/assets/images/ic_languages_white.png)
//               no-repeat center;
//             background-size: 100%;
//           }
//           &.menu {
//             width: 24px;
//             margin-left: 20px;
//             background: url(/assets/images/ic_top_bar_pull_down.png)
//               no-repeat center;
//             background-size: 100%;
//           }
//         }
//       }
//     }
//   }
// }
