<template>
  <div class="upload">
    <div class="upload__box">
      <fh-upload-dragger v-if="dragable"
                      :disabled="uploadDisabled"
                      @file="uploadDragFiles">
        <svg class="upload__icon"
             :class="uploadDisabled ? 'is-upload-loading' : ''"
             viewBox="0 0 1536 1024"
             xmlns="http://www.w3.org/2000/svg">
          <path d="M1241.6 378.24C1196.8 163.936 1004.8 0 768 0c-185.6 0-345.6 100.864-422.4 252.16C147.2 277.44 0 435.04 0 630.464c0 208.064 172.8 378.272 384 378.272h832c179.2 0 320-138.688 320-315.2 0-163.936-134.4-302.624-294.4-315.232zM896 567.424v252.16h-256v-252.16h-192l320-315.2 320 315.2h-192z"
                fill="#D6001C"></path>
        </svg>
        <p class="upload__text">
          {{$t('trans0205')}}
        </p>
        <fh-button class="fileinput-button"
                :disabled="uploadDisabled"
                @click="click"
                size="small">
          <label>{{labelText}}</label>
        </fh-button>
      </fh-upload-dragger>
      <template v-else>
        <fh-button class="fileinput-button"
                :disabled="uploadDisabled"
                @click="click"
                size="small">
          <label>{{labelText}}</label>
        </fh-button>
      </template>
      <input type="file"
             @change="handleChange"
             ref='upload'
             :multiple="multiple"
             :accept="accept"
             :name="name"
             :disabled="uploadDisabled"
             hidden="hidden" />
    </div>
    <div class="upload__files" v-if="files.length">
      <div class='file'
           v-for="file in files"
           :key="file.lastModified">
        <div class="file__info">
          <div class="icon-wrap">
            <img :src="`/assets/images/${fileIcon}.png`" />
          </div>
          <div class="des-cnt">
            <div class="description">
              <div class="fileinfo">
                <div class="fileinfo__wrap">
                  <span class="fileinfo__name single-line-text-omitted">
                    {{file.name}}
                  </span>
                  <span class="fileinfo__size">{{getSize(file)}}</span>
                </div>
                <!-- <div v-if="uploadLoading"
                     class="fileinfo__upload-percent">{{width}}</div> -->
              </div>
              <div class="packageinfo"
                   v-if="uploadSuccess && packageInfo && packageInfo.product && packageInfo.version">
                <div class="packageinfo__product">
                  <span class="single-line-text-omitted">{{packageInfo.product}}</span>
                </div>
                <div class="packageinfo__version">
                  <span class="single-line-text-omitted">{{packageInfo.version}}</span>
                </div>
              </div>
              <div class="filesize">{{getSize(file)}}</div>
            </div>
            <!-- <div class="line"
                 v-if="!uploadSuccess">
              <span :class="{'loading':uploadLoading,'fail':uploadFail}"
                    :style="{'width':width}"></span>
            </div> -->
          </div>
          <div class="delete-wrap">
            <img src="/assets/images/ic_delete.png"
                 alt=""
                 width="24"
                 v-if="!uploadDisabled"
                 @click="cancel(file)" />
          </div>
        </div>
        <div class="file__error"
             v-if="uploadFail">{{err || $t('trans0206')}}</div>
      </div>
    </div>
  </div>
</template>
