.select {
  position: relative;
}
.select .select__caret {
  transition: transform 0.2s linear;
}
.select .select__caret.is-reverse {
  transform: rotate(180deg);
}
.select .select__popup {
  position: absolute;
  z-index: 888;
  left: -1px;
  right: -1px;
  top: 52px;
  max-height: 300px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #e1e1e1;
  overflow: auto;
}
.select .select__popup-item {
  list-style: none;
  padding: 17px 10px;
  line-height: 1;
  cursor: pointer;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}
.select .select__popup-item:active {
  background: #f1f1f1;
  color: #333;
}
.select .select__popup-item:hover {
  background: #f1f1f1;
  color: #333;
}
.select .select__popup-item.is-selected {
  color: #d6001c;
}
.select .select__popup-item--empty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 84px;
  font-size: 14px;
  background-color: #fff;
  color: #999;
}
