<div class="select" @click="open" v-clickoutside="close">
  <input type="hidden" :name="name" v-model="selected.value">
  <fh-input
    readonly
    :disabled="selectDisabled"
    :placeholder="selectPlaceholder"
    :label="currentLabel"
    v-model="selected.text"
    @blur="inputBlurHandler"
    @focus="inputFocusHandler"
  >
    <template slot="prefix" v-if="$slots.prefix">
      <slot name="prefix"></slot>
    </template>
    <template slot="suffix">
      <fh-icon :class="['select__caret', 'input__icon', this.opened ? 'is-reverse' : '']" name="icon-down"></fh-icon>
    </template>
  </fh-input>
  <transition name="select">
    <ul class="select__popup" v-show="opened">
      <template v-if="options.length">
        <li
          class="select__popup-item"
          :class="{ 'is-selected': selected === option }"
          :key="option.value"
          @click.stop="select(option)"
          v-for="option in options"
        >
          <div v-if="option.render && typeof option.render === 'function'" v-html="option.render()"></div>
          <span v-else>{{ option.text }}</span>
        </li>
      </template>
      <li class="select__popup-item--empty" v-else>{{$t('trans0142')}}</li>
    </ul>
  </transition>
</div>
