<div class="select" @click="open()" v-clickoutside="close">
  <fh-input
    readonly
    :disabled="selectDisabled"
    :placeholder="selectPlaceholder"
    :label="currentLabel"
    v-model="selected.text"
    :name="name"
  >
    <template slot="prefix" v-if="$slots.prefix">
      <slot name="prefix"></slot>
    </template>
    <template slot="suffix">
      <i :class="['select__caret', 'input__icon', 'icon-' + iconClass]"></i>
    </template>
  </fh-input>
  <transition name="select">
    <ul class="select__popup" v-show="opened">
      <template v-if="options.length">
        <li
          class="select__popup-item"
          :class="{ 'is-selected': selected === option }"
          :key="option.value"
          @click.stop="select(option)"
          v-for="option in options"
          :title="option.text"
        >
          {{ option.text }}
        </li>
      </template>
      <li class="select__popup-item--empty" v-else>{{$t('trans0278')}}</li>
    </ul>
  </transition>
</div>
