.home {
  width: 750px;
  border: 1px solid #d1d8e0;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.075);
}
.home .wifi-form {
  width: 350px;
  margin: 30px auto;
}
.home .wifi-form .switch {
  display: flex;
}
.home .wifi-form .alert {
  margin-top: 12px;
}
.home .wifi-form .wifi-form__name {
  font-size: 14px;
  color: #333;
}
.home .wifi-form .wifi-form__tips {
  display: inline-block;
  font-size: 12px;
  color: #6e6e6e;
  margin-top: 12px;
}
.home .upload {
  padding: 30px 20px;
}
.home .dialog-content {
  width: 600px;
  max-height: 400px;
  overflow: auto;
  padding-right: 10px;
}
