<fh-layout url="/other" title="123asd">
  <div class="home">
    <div class="upload">
      <fh-upload ref="uploader"
                  dragable
                  v-loading="uploading"
                  loading-tip="加载中" />
    </div>
    <fh-button type="text" @click="loading" disabled>loading</fh-button>
    <fh-button type="text" size="middle" @click="() => visible = true">打开弹框</fh-button>
    <fh-button type="text" @click="upgrade">升级</fh-button>
    <fh-switch
      v-model="wifiform.isB5gFirst"
      @change="switchB5gFirst"
    >
    </fh-switch>
    <fh-switch
      v-model="wifiform.b24g.enable"
      @change="(val) => switchEnable(Bands.b24g, val)"
    >
    </fh-switch>
    <fh-modal :visible.sync="visible" :title="$t('trans0002')">
      <template class="dialog-content" #body>
        <div style="padding:20px 0;font-size:16px;">
          <p>Hello, world</p>
        </div>
      </template>
      <template #footer>
        <fh-button @click="() => visible = false">{{$t('trans0002')}}</fh-button>
      </template>
    </fh-modal>
    <fh-table :columns="columns" :data="data">
      <template #title>
        123456
      </template>
      <template #operationgroup>
        <fh-button size="small">新增</fh-button>
        <fh-button size="small" @click="del">删除</fh-button>
      </template>
      <template #operation="scope">
        <fh-button type="text" @click="() => operation(scope)">操作</fh-button>
        <fh-button type="text" @click="() => operation(scope)">操作</fh-button>
        <fh-button type="text" @click="() => operation(scope)">操作</fh-button>
        <fh-button type="text" @click="() => operation(scope)">操作</fh-button>
      </template>
      <template #footer>
        footer
      </template>
    </fh-table>
    <fh-form class="wifi-form" ref="wifiForm" :model="wifiform" :rules="rules">
      <fh-form-item :label="$t('trans0023').format($t('trans0050'))">
        <fh-switch
          v-model="wifiform.isB5gFirst"
          @change="switchB5gFirst"
        >
        </fh-switch>
        <div class="wifi-form__tips">{{$t('trans0024').format($t('trans0049'), $t('trans0050'), $t('trans0050'))}}</div>
      </fh-form-item>
      <fh-form-item :label="b24gWifiText">
        <fh-switch
          v-model="wifiform.b24g.enable"
          @change="(val) => switchEnable(Bands.b24g, val)"
        >
        </fh-switch>
        <div class="wifi-form__tips">
          <fh-checkbox v-if="!wifiform.b24g.enable" v-model="wifiform.b24g.isAutoReboot">
            {{$t("trans0028").format($t('trans0049'))}}
          </fh-checkbox>
        </div>
      </fh-form-item>
      <fh-form-item :label="$t('trans0029')" prop='b24g.ssid'>
        <fh-input
          v-model="wifiform.b24g.ssid"
          @blur="blur"
        >
        </fh-input>
      </fh-form-item>
      <fh-form-item :label="$t('trans0031')">
        <fh-select
          v-model="wifiform.b24g.encrypt"
          :options="encrypts"
        >
        </fh-select>
        <fh-alert
          v-if="b24gEncryptTip"
          :title="b24gEncryptTip"
          type="warning"
          show-icon
          :closable="false" />
        </fh-alert>
      </fh-form-item>
      <fh-form-item :label="$t('trans0030')" v-if="wifiform.b24g.encrypt !== Encrypts.none">
        <fh-input
          v-model="wifiform.b24g.password"
          type="password"
          show-password
        >
        </fh-input>
        <div class="wifi-form__tips">
          <fh-checkbox v-model="wifiform.isLoginPwd">{{$t("trans0039")}}</fh-checkbox>
        </div>
      </fh-form-item>
      <template v-if="!wifiform.isB5gFirst">
        <fh-form-item :label="$t('trans0027').format($t('trans0050'))">
          <fh-switch
            v-model="wifiform.b5g.enable"
            @change="(val) => switchEnable(Bands.b5g, val)"
            >
          </fh-switch>
          <div class="wifi-form__tips">
            <fh-checkbox v-if="!wifiform.b5g.enable" v-model="wifiform.b5g.isAutoReboot">{{$t("trans0028").format($t('trans0050'))}}</fh-checkbox>
          </div>
        </fh-form-item>
        <fh-form-item :label="b5gWifiText">
          <fh-input
            v-model="wifiform.b5g.ssid"
          >
          </fh-input>
        </fh-form-item>
        <fh-form-item :label="$t('trans0031')">
          <fh-select
            v-model="wifiform.b5g.encrypt"
            :options="encrypts"
          >
          </fh-select>
          <fh-alert
            v-if="b5gEncryptTip"
            :title="b5gEncryptTip"
            type="warning"
            show-icon
            :closable="false" />
          </fh-alert>
        </fh-form-item>
        <fh-form-item :label="$t('trans0030')" v-if="wifiform.b5g.encrypt !== Encrypts.none">
          <fh-input
            v-model="wifiform.b5g.password"
            type="password"
            show-password
          >
          </fh-input>
        </fh-form-item>
      </template>
      <fh-form-item :label="$t('trans0040')">
        <fh-switch
          v-model="wifiform.isStandbyNet"
          :options="encrypts"
        >
        </fh-switch>
        <div class="wifi-form__tips">
          {{$t("trans0041")}}
        </div>
      </fh-form-item>
      <fh-form-item :label="$t('trans0051')">
        <div class="wifi-form__name">
           {{b24gStandbyNetText}}
        </div>
        <div class="wifi-form__tips" v-if="wifiform.isB5gFirst">
          {{$t("trans0043")}}
        </div>
      </fh-form-item>
      <fh-form-item :label="$t('trans0051')" v-if="!wifiform.isB5gFirst">
        <div class="wifi-form__name">
          {{b5gStandbyNetText}}
        </div>
        <div class="wifi-form__tips">
          {{$t("trans0043")}}
        </div>
      </fh-form-item>
      <fh-form-item :label="$t('trans0044')">
        <fh-select
          v-model="wifiform.powermode"
          :options="powermodes"
          @change="changePowermode"
        >
        </fh-select>
      </fh-form-item>
      <fh-form-item>
        <fh-button block>{{$t('trans0002')}}</fh-button>
      </fh-form-item>
    </fh-form>
  </div>
</fh-layout>
