<div
  :class="[
    type === 'textarea' ? 'textarea' : 'input',
    {
      'is-disabled': inputDisabled,
      'is-exceed': inputExceed,
      'input-group': $slots.prepend || $slots.append,
      'input-group--append': $slots.append,
      'input-group--prepend': $slots.prepend,
      'input--prefix': $slots.prefix || prefixIcon,
      'input--suffix': $slots.suffix || suffixIcon || clearable || showPassword
    }
  ]"
  @mouseenter="hovering = true"
  @mouseleave="hovering = false"
>
  <template v-if="type !== 'textarea'">
    <!-- 前置元素 -->
    <div class="input-group__prepend" v-if="$slots.prepend">
      <slot name="prepend"></slot>
    </div>
    <input
      :tabindex="tabindex"
      class="input__inner"
      v-bind="$attrs"
      :type="showPassword ? (passwordVisible ? 'text': 'password') : type"
      :disabled="inputDisabled"
      :readonly="readonly"
      :autocomplete="autocomplete"
      :placeholder="placeholder"
      :name="name"
      :aria-label="inputDisabled"
      ref="input"
      @compositionstart="handleCompositionStart"
      @compositionupdate="handleCompositionUpdate"
      @compositionend="handleCompositionEnd"
      @input="handleInput"
      @focus="handleFocus"
      @blur="handleBlur"
      @change="handleChange"
    />
    <!-- 前置内容 -->
    <span class="input__prefix" v-if="$slots.prefix || prefixIcon">
      <slot name="prefix"></slot>
      <i class="input__icon" v-if="prefixIcon" :class="prefixIcon"> </i>
    </span>
    <!-- 后置内容 -->
    <span class="input__suffix" v-if="getSuffixVisible()">
      <span class="input__suffix-inner">
        <template v-if="!showClear || !showPwdVisible || !isWordLimitVisible">
          <slot name="suffix"></slot>
          <i class="input__icon" v-if="suffixIcon" :class="suffixIcon"> </i>
        </template>
        <fh-icon
          v-if="showClear"
          class="input__icon input__clear"
          name="icon-circle-close"
          @mousedown.prevent
          @click="clear"
        ></fh-icon>
        <fh-icon
          v-if="showPwdVisible"
          class="input__icon input__clear"
          :name="passwordVisible ? 'icon-eye' : 'icon-eye-close'"
          @click="handlePasswordVisible"
        ></fh-icon>
        <span v-if="isWordLimitVisible" class="input__count">
          <span class="input__count-inner">
            {{ textLength }}/{{ upperLimit }}
          </span>
        </span>
      </span>
    </span>
    <!-- 后置元素 -->
    <div class="input-group__append" v-if="$slots.append">
      <slot name="append"></slot>
    </div>
  </template>
</div>
