.dialog {
  text-align: center;
  background: #fff;
  padding: 20px 20px 30px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
.dialog .dialog__buttons {
  display: flex;
  justify-content: center;
}
.dialog .dialog__buttons button {
  width: auto;
  height: 38px;
  margin-left: 30px;
}
.dialog .dialog__buttons button:first-child {
  margin-left: 0;
}
.dialog .dialog__title {
  font-size: 16px;
  line-height: 1;
  color: #333;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}
.dialog .dialog__message {
  color: #333;
  margin-bottom: 45px;
  text-align: center;
  font-size: 14px;
}
@media screen and (min-width: 769px) {
  .dialog {
    width: 430px;
  }
}
@media screen and (max-width: 768px) {
  .dialog {
    width: 80%;
  }
  .dialog .dialog__buttons {
    flex-direction: column;
  }
  .dialog .dialog__buttons button {
    width: 100%;
    display: block;
    margin: 0;
    margin-top: 20px;
  }
  .dialog .dialog__buttons button:first-child {
    margin-top: 0;
  }
}
