<label
    class="checkbox"
    :class="{
      'is-disabled': isDisabled
    }"
  >
    <span
      class="checkbox__input"
      :class="{
        'is-circle': isCircle,
        'is-checked': isChecked,
        'is-disabled': isDisabled
      }">
      <span class="checkbox__inner"></span>
      <input
        v-if="trueLabel || falseLabel"
        class="checkbox__original"
        type="checkbox"
        :name="name"
        :disabled="isDisabled"
        :true-value="trueLabel"
        :false-value="falseLabel"
        v-model="model"
        @change="handleChange" />
      <input
        v-else
        class="checkbox__original"
        type="checkbox"
        :disabled="isDisabled"
        :value="label"
        :name="name"
        v-model="model"
        @change="handleChange"
        @focus="focus = true"
        @blur="focus = false" />
    </span>
    <span class="checkbox__label" v-if="$slots.default || label">
      <slot></slot>
      <template v-if="!$slots.default">{{label}}</template>
    </span>
  </label>
