<transition name="checkbox">
  <div class="checkbox-group" :class="`is-${direction}`">
    <label
      class="checkbox"
      v-for="option in options"
      :key="option.value"
    >
      <span
        class="checkbox__input"
        :class="{
          'is-checked': model.includes(option.value),
          'is-circle': !rect,
          'is-disabled': disabled
        }">
        <input
          ref="radio"
          class="checkbox__original"
          :value="option.value"
          type="radio"
          aria-hidden="true"
          @change="handleChange"
          :name="name"
          :disabled="isDisabled"
          tabindex="-1"
          autocomplete="off"
        />
      </span>
      <span class="checkbox__label">{{option.text}}</span>
    </label>
  </div>
</transition>
