<fh-layout url="/login" title="123asd">
  <div class="signin">
    <div class="signin-form">
      <div style="text-align: center;">
        <img class="signin-form__img" :src="logoSrc" alt="" />
      </div>
      <fh-form ref="form" id="loginForm" method="post" :disabled="formDisabled" :model="userinfo" :rules="rules">
        <fh-form-item prop="username">
          <fh-input
            :placeholder="$t('trans0007')"
            v-model="userinfo.username"
            name="username"
          >
            <i slot="prefix" class="input__icon icon-user"></i>
          </fh-input>
        </fh-form-item>
        <fh-form-item prop="password">
          <fh-input
            type="password"
            :placeholder="$t('trans0007')"
            v-model="userinfo.password"
            name="password"
            show-password
          >
            <i slot="prefix" class="input__icon icon-lock"></i>
          </fh-input>
        </fh-form-item>
        <fh-form-item>
          <fh-button block @click="login">{{$t('trans0002')}}</fh-button>
        </fh-form-item>
      </fh-form>
      <fh-alert
        v-show="alert"
        :title="alert"
        type="error"
        :closable="false"
        effect="dark" />
    </div>
  </div>
</fh-layout>
