.btn {
  outline: none;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  position: relative;
  border: 1px solid transparent;
}
.btn.btn--primary {
  border-color: transparent;
  color: #fff;
  background: #d6001c;
}
.btn.btn--primary:active {
  background: #d6001c;
}
.btn.btn--primary:hover {
  background: #de3349;
}
.btn.btn--primary.is-disabled {
  cursor: not-allowed;
  background: #b3b3b3;
  border-color: #b3b3b3;
  color: #fff;
}
.btn.btn--primary.btn--small {
  width: auto;
  min-width: 80px;
  height: 28px;
  line-height: 1;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 4px;
}
.btn.btn--primary.btn--middle {
  width: auto;
  min-width: 120px;
  height: 38px;
  line-height: 1;
  padding: 12px 10px;
  font-size: 14px;
  border-radius: 4px;
}
.btn.btn--text {
  border-color: transparent;
  color: #333;
  background: transparent;
  padding-left: 0;
  padding-right: 0;
}
.btn.btn--text:hover {
  color: #de3349;
}
.btn.btn--text.is-disabled {
  cursor: not-allowed;
  color: #c0c4cc;
}
.btn.btn--text.btn--small {
  padding: 5px 0;
  font-size: 12px;
}
.btn.btn--text.btn--middle {
  padding: 12px 0;
  font-size: 14px;
}
.btn.is-block {
  width: 100% !important;
  min-width: 340px !important;
}
