.btn {
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  position: relative;
  color: #fff;
  background: #d6001c;
}
.btn:active {
  background: #d6001c;
}
.btn:hover {
  background: #de3349;
}
.btn.is-disabled {
  cursor: not-allowed;
  background: #b3b3b3;
  border-color: #b3b3b3;
  color: #fff;
}
.btn.btn-small {
  width: auto;
  min-width: 80px;
  height: 28px;
  line-height: 1;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 4px;
}
.btn.btn-middle {
  width: auto;
  min-width: 120px;
  height: 38px;
  line-height: 1;
  padding: 12px 10px;
  font-size: 14px;
  border-radius: 4px;
}
.btn.btn-block {
  width: 100%;
  min-width: 340px;
  height: 48px;
  line-height: 1;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 4px;
}
