.layout {
  position: relative;
  display: flex;
  flex-direction: column;
}
.layout .layout__main {
  margin-top: 100px;
  margin-bottom: 20px;
  flex: 1;
  display: flex;
  justify-content: center;
}
.layout .layout__aside {
  width: 240px;
  margin-right: 20px;
}
.layout__nav {
  list-style: none;
  flex-direction: column;
  height: auto;
}
.layout__nav .nav-item {
  cursor: pointer;
  width: 100%;
  margin: 0;
  height: auto;
  flex-direction: column;
  align-items: flex-start;
}
.layout__nav .nav-item:hover .nav-item-content .nav-item__text {
  color: #999;
}
.layout__nav .nav-item .nav-item-content {
  align-items: center;
  position: relative;
  width: 100%;
}
.layout__nav .nav-item .nav-item-content.has-children::after {
  position: absolute;
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  border-left: 0;
  border-top: 0;
  transform: translateY(-50%) rotate(45deg);
  top: 50%;
  right: 0;
  transition: all 0.3s linear;
}
.layout__nav .nav-item .nav-item-content .nav-item__text {
  color: #333;
  line-height: 1;
  padding: 16px 0;
  font-size: 16px;
}
.layout__nav .nav-item.selected::after {
  display: none;
}
.layout__nav .nav-item.selected .nav-item-content::after {
  transform: translateY(-50%) rotate(225deg);
}
.layout__nav .nav-item.selected .nav-item-content .nav-item__text {
  color: red;
}
.layout__nav .nav-item .nav-item-child {
  position: static;
  display: block;
  background: #fff;
  box-shadow: none;
  width: 100%;
  padding: 0;
}
.layout__nav .nav-item .nav-item-child.nav-item-child__animation-leave-active {
  overflow: hidden;
}
.layout__nav .nav-item .nav-item-child.nav-item-child__animation-enter-active {
  overflow: hidden;
}
.layout__nav .nav-item .nav-item-child .nav-child__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  padding-left: 10px;
  color: #333;
}
.layout__nav .nav-item .nav-item-child .nav-child__text.disabled {
  background: #ccc;
}
.layout__nav .nav-item .nav-item-child .nav-child__text:active {
  color: red;
}
.layout__nav .nav-item .nav-item-child .nav-child__text:hover {
  color: #999;
  background: #ccc;
}
