<template>
  <div class="layout" ref="layout">
    <fh-header
      :isShow="isShow"
      :menus="menus"
    />
    <main class="layout__main">
      <template v-if="hasChildPage">
        <div class="layout__aside">
          <fh-menu
            :menus="childMenus"
            :active="url"
            mode="vertical"
            activeKeyName="url"
            backgroundColor="#333"
            textColor="#fff"
            activeTextColor="#d6001c"
            @click="handleMenuItemClick"
          />
        </div>
        <slot></slot>
      </template>
      <template v-else>
        <slot></slot>
      </template>
    </main>
    <fh-footer v-if="isShow" />
  </div>
</template>
