.table {
  border-radius: 8px;
  width: 100%;
}
.table .table__header {
  position: relative;
  height: 85px;
}
.table .table__title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 18px;
  text-align: center;
  color: #262626;
}
.table .table__operation-group {
  position: absolute;
  top: 20px;
  right: 20px;
}
.table .table__main {
  min-width: 100%;
  overflow-x: auto;
}
.table .table__footer {
  padding: 10px;
}
.table .table-main {
  display: table;
  border-collapse: collapse;
  box-sizing: border-box;
  width: 100%;
}
.table .table-main.is-border {
  border: 1px solid #C9C9C9;
}
.table .table-main .table-main__header {
  display: table-header-group;
}
.table .table-main .table-main__content {
  display: table-row-group;
}
.table .table-main .table-main__row {
  display: table-row;
  border-bottom: 1px solid #C9C9C9;
}
.table .table-main .table-main__row.is-no-border-bottom {
  border-bottom: none;
}
.table .table-main .table-main__cell {
  display: table-cell;
  z-index: 1;
}
.table .table-main .table-main__cell.is-border-right {
  border-right: 1px solid #C9C9C9;
}
.table .table-main .table-main__cell:last-child {
  border-right: none;
}
.table .table-main .table-main__cell.table-main__cell--fixed {
  position: sticky;
  height: 100%;
  z-index: 2;
  background-color: inherit;
}
.table .table-main .table-main__cell.table-main__cell--fixed.table-main__cell--fixed-left {
  left: -1px;
}
.table .table-main .table-main__cell.table-main__cell--fixed.table-main__cell--fixed-left.table-main__cell--fixed-left-last::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: -1px;
  width: 30px;
  transform: translate(100%);
  transition: box-shadow 0.3s;
  content: "";
  pointer-events: none;
  box-shadow: inset 10px 0 8px -8px #ccc;
}
.table .table-main .table-main__cell.table-main__cell--fixed.table-main__cell--fixed-right {
  right: -1px;
}
.table .table-main .table-main__cell.table-main__cell--fixed.table-main__cell--fixed-right.table-main__cell--fixed-right-last::after {
  position: absolute;
  top: 0;
  bottom: -1px;
  left: 0;
  width: 30px;
  transform: translate(-100%);
  transition: box-shadow 0.3s;
  content: "";
  pointer-events: none;
  box-shadow: inset -10px 0 8px -8px #ccc;
}
.table .table-main .table-main__operation {
  min-width: 100px;
}
.table .table-main .table-main__index,
.table .table-main .table-main__checkbox {
  min-width: 50px;
}
.table .table-main-header {
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  color: #262626;
  font-weight: 400;
  background-color: #fff;
}
.table .table-main-content .table-main-content__row {
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  color: #262626;
  background-color: #fff;
}
.table .table-main-content .table-main-content__row.is-stripe {
  background-color: #fafafa;
}
.table .table-main-content .table-main-content__row.is-hover:hover {
  background-color: #f5f7fa;
}
.table .com-cell {
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
}
.table .cell {
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  padding-left: 10px;
  padding-right: 10px;
}
.table .empty {
  position: relative;
}
.table .empty .empty__text {
  position: absolute;
  color: #666;
  font-size: 16px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
