<div class="table">
  <div class="table__header" v-if="showHeader">
    <div class="table__title" v-if="title || $slots.title">
      <template v-if="title"> {{title}} </template>
      <slot name="title" v-else></slot>
    </div>
    <div class="table__operation-group" v-if="$slots.operationgroup">
      <slot name="operationgroup"></slot>
    </div>
  </div>
  <div class="table__main" ref="tableWrap" @scroll="handleScroll">
    <table
      cellspacing="0"
      cellpadding="0"
      border="0"
      ref="scrollTable"
      class="table-main"
      :class="{'is-border': border}"
    >
      <thead class="table-main__header">
        <tr
          class="table-main__header-row"
          v-if="showTableHeader"
        >
          <th
            class="table-main__cell table-main__checkbox"
            :class="{
              'table-main__cell--fixed table-main__cell--fixed-left table-main__cell--fixed-left-last': isFixedLeft
            }"
            ref="checkboxCol"
            v-if="isShowRowCheckbox"
          >
            <div class="com-cell" :style="cellStyle"></div>
          </th>
          <th class="table-main__cell table-main__index" v-if="isShowIndex">
            <div class="com-cell" :style="cellStyle">{{$t('trans0454')}}</div>
          </th>
          <th
            class="table-main__cell"
            v-for="col in columns"
            :key="col.key"
            :title="col.title"
            :style="getItemStyle(col)"
          >
            <div class="cell" :style="cellStyle">{{col.title}}</div>
          </th>
          <th
            class="table-main__cell"
            :class="{
              'table-main__cell--fixed table-main__cell--fixed-right table-main__cell--fixed-right-last': isFixedRight
            }"
            ref="headerOperationCol"
            v-if="isShowOperation"
          >
            <div class="com-cell" :style="cellStyle">{{$t('trans0141')}}</div>
          </th>
        </tr>
      </thead>
      <tbody class="table-main__content">
        <template v-if="data.length">
          <tr
            v-for="(item, index) in data"
            :key="index"
            class="table-main__content-row"
            :class="{
              'is-stripe': stripe && ((index + 1) % 2 === 0),
              'is-hover': hover
            }"
          >
            <td
              class="table-main__cell table-main__checkbox"
              :class="{
                'table-main__cell--fixed table-main__cell--fixed-left table-main__cell--fixed-left-last': isFixedLeft
              }"
              v-if="isShowRowCheckbox"
            >
              <div class="com-cell" :style="cellStyle">
                <fh-checkbox @change="(val) => select(val, item)" />
              </div>
            </td>
            <td
              class="table-main__cell table-main__index"
              v-if="isShowIndex"
            >
              <div class="com-cell" :style="cellStyle">{{index + 1}}</div>
            </td>
            <td
              class="table-main__cell"
              v-for="col in columns"
              :key="col.key"
              :style="getItemStyle(col)"
            >
              <div :style="cellStyle" v-if="col.render">
                <fh-table-column-render :column="col" :row="item" :index="col.key" :render="col.render"></fh-table-column-render>
              </div>
              <div class="cell" :style="cellStyle" :title="item[col.key]" v-else>{{item[col.key]}}</div>
            </td>
            <td
              class="table-main__cell"
              :class="{
                'table-main__cell--fixed table-main__cell--fixed-right table-main__cell--fixed-right-last': isFixedRight
              }"
              ref="rowOperationCol"
              v-if="isShowOperation"
            >
              <div class="com-cell" :style="cellStyle">
                <slot name="operation" :row="item"></slot>
              </div>
            </td>
          </tr>
        </template>
        <tr
          class="table-main__content-row empty-row"
          v-else>
          <td class="empty-row__cell" :colspan="columns.length">
            {{$t('trans0142')}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table__footer" v-if="footer || $slots.footer">
    <template v-if="footer"> {{footer}} </template>
    <slot name="footer" v-else></slot>
  </div>
</div>
