.switch {
  display: inline-flex;
  align-items: center;
}
.switch .switch__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  margin: 0;
}
.switch .switch__inner {
  cursor: pointer;
  width: 46px;
  height: 22px;
  position: relative;
  background-color: #b6b6b6;
  border-radius: 22px;
  background-clip: content-box;
  display: inline-block;
  -webkit-appearance: none;
  user-select: none;
  outline: none;
}
.switch .switch__inner::before {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 16px;
  background-color: #fff;
  transition: left 0.3s;
}
.switch .switch__inner.is-checked {
  border-color: #00d061;
  background-color: #00d061;
  transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s;
}
.switch .switch__inner.is-checked::before {
  left: 26px;
}
.switch .switch__inner.is-disabled {
  cursor: not-allowed;
  opacity: 0.7;
}
