.radio-group {
  display: flex;
}
.radio-group.is-vertical {
  flex-direction: column;
}
.radio-group.is-vertical .radio {
  margin-top: 20px;
}
.radio-group.is-vertical .radio:first-child {
  margin-top: 0;
}
.radio-group.is-horizontal .radio {
  margin-left: 30px;
}
.radio-group.is-horizontal .radio:first-child {
  margin: 0;
}
