.upgrade {
  text-align: center;
  color: #fff;
}
.upgrade .upgrade__img {
  width: 120px;
}
.upgrade .upgrade__title {
  font-size: 24px;
  color: #fff;
}
.upgrade .upgrade__tip {
  color: #fff;
  display: block;
  margin-top: 10px;
}
.progress {
  margin-top: 20px;
  width: 300px;
  display: inline-block;
}
.progress .progress__main {
  height: 10px;
  background: #fff;
  border-radius: 50px;
  overflow: hidden;
}
.progress .progress__bar {
  float: left;
  width: 0;
  height: 100%;
  border-radius: 50px;
  font-size: 12px;
  max-width: 100%;
  line-height: 20px;
  overflow: hidden;
  color: #fff;
  text-align: center;
  background-color: #00d061;
  transition: width 1s ease;
}
