<template>
  <fh-wrap :visible.sync="visible" wrap-bg-color="rgba(0, 0, 0, 0.8)">
    <div class="upgrade">
      <img v-if="url" class="upgrade__img" :src="url" alt="" />
      <div v-if="title" class="upgrade__title">{{title}}</div>
      <div v-if="tip" class="upgrade__tip" v-html="tip"></div>
      <!-- 升级进度条 -->
      <div class="progress" v-if="progressVisible">
        <div class="progress__main">
          <div class="progress__bar" :style="styles"></div>
        </div>
      </div>
    </div>
  </fh-wrap>
</template>
