.home {
  height: 2000px;
}
.home .home__title {
  font-size: 24px;
  font-weight: 500;
  color: #333333;
  line-height: 60px;
  text-align: center;
}
.home .home__content {
  width: 1129px;
  background: #FFF;
  box-shadow: 0px 2px 22px 1px rgba(0, 0, 0, 0.03);
  border-radius: 14px;
  position: relative;
}
.home .home__content.status-content {
  height: 290px;
}
.home .home__content.info-content {
  height: 270px;
}
.home .content,
.home .line,
.home .net-speed {
  position: absolute;
}
.home .content .content__img {
  display: block;
}
.home .content .content__title {
  display: block;
  text-align: center;
  margin-top: 19px;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
}
.home .content.network-content {
  left: 107px;
  top: 100px;
  width: 108px;
  cursor: pointer;
}
.home .content.network-content .content__img {
  width: 100%;
  height: 105px;
}
.home .content.router-content {
  left: 392px;
  top: 40px;
  width: 107px;
  cursor: pointer;
}
.home .content.router-content .content__img {
  width: 100%;
  height: 113px;
}
.home .content.conn-status-content {
  left: 654px;
  top: 100px;
}
.home .content.conn-status-content .conn-status {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 31px;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
}
.home .content.conn-status-content .conn-status .conn-status__wifi-icon {
  margin-right: 9px;
  width: 17px;
  height: 14px;
  background-repeat: no-repeat;
  background-size: cover;
}
.home .content.conn-status-content .conn-status .conn-status__text {
  font-size: 14px;
  font-weight: 500;
  color: #999999;
}
.home .content.conn-status-content .conn-status + .conn-status {
  margin-top: 15px;
}
.home .content.conn-status-content .conn-status.conn-status--connected {
  border-color: #00D061;
}
.home .content.conn-status-content .conn-status.conn-status--connected .conn-status__wifi-icon {
  background-image: url('/assets/images/home/network-active.png');
}
.home .content.conn-status-content .conn-status.conn-status--unconnected {
  border-color: #999;
}
.home .content.conn-status-content .conn-status.conn-status--unconnected .conn-status__wifi-icon {
  background-image: url('/assets/images/home/network-inactive.png');
}
.home .content.device-content {
  left: 912px;
  top: 100px;
  width: 108px;
  cursor: pointer;
}
.home .content.device-content .content__img {
  width: 100%;
  height: 90px;
}
.home .line {
  height: 2px;
}
.home .line.line--normal {
  background-color: #00D061;
}
.home .line.line--abnormal {
  background-color: #cfcaca;
}
.home .line.first-line {
  left: 220px;
  top: 140px;
  width: 150px;
  transform: rotate(-25deg);
}
.home .line.first-line .disconn-net {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -30%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home .line.first-line .disconn-net .disconn-net__img {
  width: 27px;
  height: 27px;
}
.home .line.first-line .disconn-net .disconn-net__text {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 400;
  color: #CFCACA;
}
.home .line.second-line {
  left: 503px;
  top: 140px;
  width: 150px;
  transform: rotate(25deg);
}
.home .line.third-line {
  left: 755px;
  top: 140px;
  width: 150px;
  transform: rotate(-25deg);
}
.home .net-speed {
  left: 230px;
  top: 90px;
}
.home .net-speed .net-speed__item {
  display: flex;
  align-items: center;
}
.home .net-speed .net-speed__img {
  height: 11px;
  width: 9px;
}
.home .net-speed .net-speed__img.net-speed__img--reversal {
  transform: rotateZ(180deg);
}
.home .net-speed .net-speed__text,
.home .net-speed .net-speed__unit {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
}
.home .net-speed .net-speed__text {
  margin: 0 5px;
}
.home .info-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home .info-content .info-content__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home .info-content .info-content__img {
  height: 93px;
  width: 93px;
}
.home .info-content .info-content__title {
  margin-top: 29px;
  font-size: 20px;
  font-weight: 600;
  color: #333333;
}
.home .info-content .info-content__wrap {
  margin-top: 22px;
  display: flex;
  align-items: center;
}
.home .info-content .info-content__style + .info-content__style {
  margin-left: 4px;
}
.home .info-content .info-content__first-style {
  color: #00D061;
  font-size: 22px;
}
.home .info-content .info-content__second-style {
  color: #333;
  font-size: 18px;
}
.home .reboot {
  width: 1129px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.home .reboot .reboot__img {
  cursor: pointer;
  height: 100px;
  width: 100px;
}
