.checkbox-group {
  display: flex;
  &.is-vertical {
    flex-direction: column;
    .checkbox {
      margin-top: 20px;
      &:first-child {
        margin-top: 0;
      }
    }
  }
  &.is-horizontal {
    .checkbox {
      margin-left: 30px;
      &:first-child {
        margin: 0;
      }
    }
  }
}
