<div
  class="form-item"
  :class="{
    'is-success': success,
    'is-error': error
  }"
>
  <fh-form-item-label-wrap
    :is-auto-width="labelStyle && labelStyle.width === 'auto'"
    :update-all="formCom.labelWidth === 'auto'">
    <label
      class="form-item__label"
      :title="label"
      :for="labelFor"
      :class="`form-item__label--${labelPositionCom}`"
      :style="labelStyle"
      v-if="label || $slots.label">
      <slot name="label">{{label}}</slot>
    </label>
  </fh-form-item-label-wrap>
  <div
    class="form-item__content"
    :style="contentStyle"
  >
    <slot></slot>
  </div>
  <transition name="el-zoom-in-top">
    <div v-if="error" class="form-item__error">{{validateMessage}}</div>
  </transition>
  <div
    class="form-item__extra"
    :style="contentStyle"
    v-if="$slots.extra"
  >
    <slot name="extra"></slot>
  </div>
</div>
