<template>
  <fh-wrap :visible.sync="open" :closeOnClickWrap="true">
    <div class="modal" :style="{width: fullscreen ? '100%' : width, height: fullscreen ? '100%' : 'auto'}">
      <div class="modal__header">
        <template v-if="$slots.title || title"">
          <template v-if="title">
            {{title}}
          </template>
          <slot name="title" v-else></slot>
        </template>
        <fh-icon class="modal__close" name="icon-close" @click="close" v-if="showClose"></fh-icon>
      </div>
      <div class="modal__body" :style="`${fullscreen ? 'height: auto' : 'max-height: 80vh; overflow: auto'}`" v-if="$slots.body">
        <slot name="body"></slot>
      </div>
      <div class="modal__footer" v-if="$slots.footer">
        <slot name="footer"></slot>
      </div>
    </div>
  </fh-wrap>
</template>
