<div class="page">
  <div class="page-header">{{$t('trans0418')}}</div>
  <div class="page-content">
    <fh-form ref="form" class="form" :model="ddns" :rules="rules">
      <fh-form-item class="item" :label="$t('trans0435')">
        <fh-radio v-model="ddns.service" label="dyndns">{{$t('trans0437')}}</fh-radio>
        <fh-radio v-model="ddns.service" label="oray" disabled>{{$t('trans0438')}}</fh-radio>
      </fh-form-item>
      <fh-form-item class="item" :label="$t('trans0435')">
        <fh-radio-group v-model="ddns.service">
          <fh-radio v-for="service in services" :key="service.value" :label="service.value">{{service.text}}</fh-radio>
        </fh-radio-group>
      </fh-form-item>
      <fh-form-item class="item" prop="ddns.service" :label="$t('trans0435')">
        <fh-select
          v-model="ddns.service"
          :options="services"
          name="services"
        />
      </fh-form-item>
      <fh-form-item class="item" prop="domain" :label="$t('trans0436')">
        <fh-input
          :placeholder="$t('trans0321')"
          v-model="addonBefore"
          maxlength="10"
          showWordLimit
          name="addonBefore"
        />
      </fh-form-item>
      <fh-form-item class="item" prop="username" :label="$t('trans0410')">
        <fh-input
          :placeholder="$t('trans0321')"
          v-model="ddns.username"
        >
          <template slot="prepend">Http://</template>
          <template slot="append">.com</template>
        </fh-input>
      </fh-form-item>
      <fh-form-item class="item" prop="password" :label="$t('trans0003')">
        <fh-input
          type="password"
          :placeholder="$t('trans0321')"
          v-model="ddns.password"
          showPassword
        />
      </fh-form-item>
      <fh-form-item class="item" prop="password">
        <fh-checkbox v-model="checked">备选项</fh-checkbox>
      </fh-form-item>

      <fh-form-item>
        <fh-checkbox-group v-model="checkList">
          <fh-checkbox label="复选框 A"></fh-checkbox>
          <fh-checkbox label="复选框 B"></fh-checkbox>
          <fh-checkbox label="复选框 C"></fh-checkbox>
          <fh-checkbox label="禁用" disabled></fh-checkbox>
          <fh-checkbox label="选中且禁用" disabled></fh-checkbox>
        </fh-checkbox-group>
      </fh-form-item>
      <fh-form-item class="item" prop="password">
        <fh-switch v-model="ddns.enabled" @change="updateddns" />
      </fh-form-item>
      <fh-form-item>
        <fh-button @click="submit()" disabled type="submit">{{$t('trans0081')}}</fh-button>
      </fh-form-item>
    </fh-form>
  </div>
</div>
