<div class="page">
  <div class="page-header">{{$t('trans0418')}}</div>
  <div class="page-content">
    <fh-form ref="form" class="form" :model="ddns" :rules="rules">
      <div class="form-item">
        <label style="font-weight: bold">{{$t('trans0435')}}</label>
        <fh-radio-group v-model="ddns.service" :options="services" />
      </div>
      <fh-form-item class="item" prop="ddns.service" :label="$t('trans0435')">
        <fh-select
          v-model="ddns.service"
          :options="services"
        />
      </fh-form-item>
      <fh-form-item class="item" prop="domain" :label="$t('trans0436')">
        <fh-input
          :placeholder="$t('trans0321')"
          v-model="ddns.domain"
          maxlength="10"
          showWordLimit
        />
      </fh-form-item>
      <fh-form-item class="item" prop="username" :label="$t('trans0410')">
        <fh-input
          :placeholder="$t('trans0321')"
          v-model="ddns.username"
        >
        <template slot="prepend">Http://</template>
        <template slot="append">.com</template>
      </fh-form-item>
      <fh-form-item class="item" prop="password" :label="$t('trans0003')">
        <fh-input
          type="password"
          :placeholder="$t('trans0321')"
          v-model="ddns.password"
          showPassword
        />
      </fh-form-item>
      <div class="form-item">
        <fh-checkbox v-model="ddns.enabled" :text="$t('trans0462')" />
      </div>
      <div class="form-item">
        <fh-switch v-model="ddns.enabled" @change="updateddns" />
      </div>
    </fh-form>
    <div class="form-button">
      <fh-button @click="submit()" disabled type="submit">{{$t('trans0081')}}</fh-button>
    </div>
  </div>
</div>
