.devicecontrol {
  margin: 0 auto;
}
.devicecontrol .devicecontrol-table {
  border-radius: 8px;
  border: 1px solid #C9C9C9;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.075);
}
.devicecontrol .devicecontrol-table .devicecontrol-table__content {
  display: table;
  border-collapse: collapse;
}
.devicecontrol .devicecontrol-table .devicecontrol-table__header {
  display: table-header-group;
}
.devicecontrol .devicecontrol-table .devicecontrol-table__content {
  display: table-row-group;
}
.devicecontrol .devicecontrol-table .devicecontrol-table__row {
  display: table-row;
  background-color: #fff;
}
.devicecontrol .devicecontrol-table .devicecontrol-table__cell {
  display: table-cell;
  border-right: 1px solid #C9C9C9;
  vertical-align: middle;
}
.devicecontrol .devicecontrol-table .devicecontrol-table__cell:nth-child(1) {
  width: 500px;
}
.devicecontrol .devicecontrol-table .devicecontrol-table__cell:nth-child(2) {
  width: 100px;
}
.devicecontrol .devicecontrol-table .devicecontrol-table__cell:nth-child(3),
.devicecontrol .devicecontrol-table .devicecontrol-table__cell:nth-child(4) {
  width: 200px;
}
.devicecontrol .devicecontrol-table .devicecontrol-table__cell:last-child {
  border-right: none;
}
.devicecontrol .devicecontrol-table .devicecontrol-table-header-row {
  height: 48px;
  line-height: 48px;
  font-weight: 400;
  font-size: 16px;
  color: #262626;
  border-bottom: 1px solid #C9C9C9;
  background-color: #e9e9e9;
}
.devicecontrol .devicecontrol-table .devicecontrol-table-content-row {
  border-bottom: 1px solid #C9C9C9;
}
.devicecontrol .devicecontrol-table .devicecontrol-table-content-row:last-child {
  border-bottom: none;
}
.devicecontrol .devicecontrol-table .cell {
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}
.devicecontrol .devicecontrol-table .device {
  display: flex;
  padding: 10px 0;
  box-sizing: border-box;
}
.devicecontrol .devicecontrol-table .device .device__logo {
  margin-right: 10px;
}
.devicecontrol .devicecontrol-table .device .device__main {
  flex: 1;
}
.devicecontrol .devicecontrol-table .device .device__speed,
.devicecontrol .devicecontrol-table .device .device__info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.devicecontrol .devicecontrol-table .device .name span {
  color: #d6001c;
  font-size: 20px;
  margin-right: 6px;
}
.devicecontrol .devicecontrol-table .device .name i {
  font-size: 24px;
  cursor: pointer;
}
.devicecontrol .devicecontrol-table .device .speed,
.devicecontrol .devicecontrol-table .device .info {
  display: flex;
  margin-top: 8px;
  width: 50%;
}
.devicecontrol .devicecontrol-table .device .speed {
  color: #333;
  align-items: center;
}
.devicecontrol .devicecontrol-table .device .speed i {
  font-size: 14px;
  margin-right: 6px;
}
.devicecontrol .devicecontrol-table .device .speed span {
  font-size: 12px;
}
.devicecontrol .devicecontrol-table .device .info {
  color: #828282;
  font-size: 12px;
}
.devicecontrol .devicecontrol-table .device .info label {
  margin-right: 6px;
}
.devicecontrol .devicecontrol-table .limit {
  display: flex;
  align-items: center;
}
.devicecontrol .devicecontrol-table .limit .limit__icon {
  font-size: 14px;
  margin-right: 6px;
}
.devicecontrol .devicecontrol-table .limit .limit__text,
.devicecontrol .devicecontrol-table .limit .limit__unit {
  font-size: 12px;
  color: #333;
}
.devicecontrol .devicecontrol-table .limit .limit__input {
  width: 100px;
}
.devicecontrol .devicecontrol-table .limit .limit__input.input .input__inner {
  height: 30px;
}
.devicecontrol .devicecontrol-table .limit .limit__edit,
.devicecontrol .devicecontrol-table .limit .limit__unit {
  margin-left: 6px;
}
.devicecontrol .devicecontrol-table .limit .limit__edit {
  font-size: 24px;
  cursor: pointer;
}
.devicecontrol .devicecontrol-table .limit-tip {
  padding: 0;
  margin: 6px 0 0 0;
  font-size: 12px;
  color: #333;
}
.devicecontrol .devicecontrol-table .empty {
  position: relative;
  height: 200px;
  background-color: inherit !important;
}
.devicecontrol .devicecontrol-table .empty:hover {
  background-color: inherit;
}
.devicecontrol .devicecontrol-table .empty .empty__text {
  position: absolute;
  color: #666;
  font-size: 16px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
