<template>
  <transition name="alert-fade">
    <div
      class="alert"
      :class="[typeClass, center ? 'is-center' : '', 'is-' + effect]"
      v-show="visible"
    >
      <fh-icon
        class="alert__icon"
        :class="[ isBigIcon ]"
        :name="iconClass"
        v-if="showIcon"
      ></fh-icon>
      <div class="alert__content">
        <span
          class="alert__title"
          :class="[ isBoldTitle ]"
          v-if="title || $slots.title"
        >
          <slot name="title">{{ title }}</slot>
        </span>
        <p class="alert__description" v-if="$slots.default && !description">
          <slot></slot>
        </p>
        <p class="alert__description" v-if="description && !$slots.default">
          {{ description }}
        </p>
        <template v-if="closable">
          <i
            class="alert__closebtn is-customed"
            @click="close()"
            v-if="closeText">
            {{closeText}}
          </i>
          <fh-icon
            class="alert__closebtn"
            @click="close()"
            name="icon-circle-close"
            v-else>
          </fh-icon>
        </template>
      </div>
    </div>
  </transition>
</template>
