.menu {
  display: flex;
}
.menu .menu-item {
  list-style: none;
  position: relative;
}
.menu .menu-item .menu-item__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  cursor: pointer;
  box-sizing: border-box;
}
.menu .menu-item .menu-item__arrow {
  margin-left: 6px;
  color: #fff;
  transition: transform 0.3s linear;
}
.menu .menu-item .menu-item__arrow.menu-item__arrow--up {
  transform: rotate(180deg);
}
.menu .child-menu {
  position: absolute;
  top: 100%;
  left: 0;
}
.menu .child-menu .child-menu-item {
  list-style: none;
}
.menu .child-menu .child-menu-item .child-menu-item__main {
  box-sizing: border-box;
  cursor: pointer;
}
.menu .child-menu.child-menu-animation-leave-active {
  overflow: hidden;
}
.menu .child-menu.child-menu-animation-enter-active {
  overflow: hidden;
}
.menu.menu--vertical {
  flex-direction: column;
  border-top: 1px solid #666;
}
.menu.menu--vertical .menu-item {
  margin-top: 10px;
  font-size: 22px;
}
.menu.menu--vertical .menu-item .menu-item__main {
  flex-wrap: wrap;
  padding: 10px;
  border-bottom: none;
}
.menu.menu--vertical .menu-item:first-child {
  margin-top: 0;
}
.menu.menu--vertical .child-menu {
  position: static;
  flex-wrap: 1;
  margin-top: 10px;
  width: 100%;
  font-size: 20px;
}
.menu.menu--vertical .child-menu .child-menu-item {
  width: 100%;
}
.menu.menu--vertical .child-menu .child-menu-item .child-menu-item__main {
  padding: 8px 15px;
}
.menu.menu--horizontal {
  height: 100%;
}
.menu.menu--horizontal .menu-item {
  margin-left: 30px;
}
.menu.menu--horizontal .menu-item .menu-item__main {
  padding: 0 10px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: transparent;
}
.menu.menu--horizontal .menu-item:first-child {
  margin-left: 0;
}
.menu.menu--horizontal .child-menu {
  z-index: 999;
  width: 180px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: -10px 9px 21px 0 rgba(128, 152, 213, 0.08);
}
.menu.menu--horizontal .child-menu .child-menu-item .child-menu-item__main {
  display: flex;
  align-items: center;
  padding: 0 10px;
  line-height: 38px;
}
