<template>
  <ul
    class="menu"
    :class="[`menu--${mode}`]"
    :style="menuObj">
    <li
      class="menu-item"
      v-for="menu in menuList"
      :key="menu.key"
    >
      <div
        class="menu-item__main"
        :class="{'is-disabled': menu.disabled}"
        :style="getMenuStyleObj(menu)"
        @click="handleClick(menu)"
        @mouseenter="e => onMenuMouseEnter(e, menu)"
        @mouseleave="e => onMenuMouseLeave(e, menu)"
        @focus="e => onMenuMouseEnter(e, menu)"
        @blur="e => onMenuMouseLeave(e, menu)"
      >
        <span :style="{
          transform: (menu.selected || menu.hovered) && isEnlargeFontSize ? 'scale(1.15)' : 'scale(1)'
        }">
          {{$t(menu.text)}}
        </span>
        <fh-icon
          class="menu-item__arrow"
          :class="{
            'menu-item__arrow--up': menu.showChild
          }"
          :style="{
            color: textColor,
          }"
          name="icon-down"
          v-if="isShowChildMenu && menu.children"
        ></fh-icon>
      </div>
      <transition
        name="child-menu-animation"
        v-on:before-enter="beforeEnter"
        v-on:enter="enter"
        v-on:leave="leave"
      >
        <ul
          class="child-menu"
          v-if="isShowChildMenu && menu.children"
          v-show="menu.showChild"
        >
          <li
            class="child-menu-item"
            :key="child.key"
            v-for="child in menu.children"
          >
            <div
              class="child-menu-item__main"
              :class="{'is-disabled':child.disabled}"
              :style="getChildMenuStyleObj(child)"
              @click.stop="handleClick(child)"
              @mouseenter="(e) => onMouseEnter(e, child)"
              @mouseleave="(e) => onMouseLeave(e, child)"
              @focus="(e) => onMouseEnter(e, child)"
              @blur="(e) => onMouseLeave(e, child)"
            >
              <span
                :style="{
                  transform: (child.selected || child.hovered) && isEnlargeFontSize ? 'scale(1.15)' : 'scale(1)',
                  fontSize: childMenuFontSizeCom
                }"
              >
                {{$t(child.text)}}
              </span>
            </div>
          </li>
        </ul>
      </transition>
    </li>
  </ul>
</template>
